
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, section {
    display: block;
}

body, html {
    margin: 0;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: slategrey;
    padding: 0;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

.navbar {
    position: relative;
    z-index:2;
    background-color: #333;
    overflow: hidden;
    box-shadow: 0 6px 6px -6px rgba(0,0,0,0.5);
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #ff1cac;
    color: white;
}

.description {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        url("city_background.jpg") no-repeat center center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    text-align: center;
    
}

.description p {
    margin-top: 0;
    padding-top: 100px;
    padding-bottom: 100px; 
    font-size: 36px;
    font-weight: 200;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.projects {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.projects h2 {
    font-weight: normal; 
}

.projects a {
    color: white;
    text-decoration: none;
}

.projects img { 
    width: 400px;
    height: 400px;
}

.processing {
    display: inline;
}

.asteroids {
    width: 33.3%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.minesweeper {
    width: 33.3%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.starfield {
    width: 33.3%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.container {
    padding: 2px 16px;
}

#aboutmepic {
    width: 50%
    float: left;
}
